Source: hhvm
Section: php
Priority: optional
Maintainer: David Martínez Moreno <ender@debian.org>
Uploaders: Faidon Liambotis <paravoid@debian.org>
Build-Depends: debhelper (>= 9.0.0),
  autotools-dev,
  binutils-dev,
  bison,
  chrpath,
  cmake,
  flex,
  libboost-dev,
  libboost-filesystem-dev,
  libboost-program-options-dev,
# Only for third-party/folly.
# vvvv
  libboost-regex-dev,
# ^^^^
  libboost-system-dev,
  libboost-thread-dev,
  libbz2-dev,
  libcap-dev,
  libc-client2007e-dev,
  libcurl4-openssl-dev,
  libdouble-conversion-dev,
  libdwarf-dev,
  libedit-dev,
  libelf-dev,
  libevent-dev,
  libexpat1-dev,
  libfreetype6-dev,
  libgoogle-glog-dev,
  libiberty-dev,
  libicu-dev,
  libjemalloc-dev,
  libjpeg62-dev | libjpeg-dev,
  libjson-c-dev,
  libldap2-dev,
  liblz4-dev,
  libmagickcore-dev,
  libmagickwand-dev,
  libmcrypt-dev,
  libmemcached-dev,
  libmysqlclient-dev,
  libonig-dev,
  libpcre3-dev,
  libpng12-dev,
  libsqlite3-dev,
  libssl-dev,
  libtbb-dev,
  libxml2-dev,
  libxslt1-dev,
  libyaml-dev,
  libzip-dev (>= 0.11),
  pkg-config,
  unixodbc-dev,
  zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://hhvm.com/
Vcs-Git: git://anonscm.debian.org/collab-maint/hhvm.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/hhvm.git;a=summary

Package: hhvm
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HipHop Virtual Machine, a JIT replacement for PHP
 HHVM is a new open-source virtual machine designed for executing programs
 written in PHP. HHVM uses a just-in-time (JIT) compilation approach to
 achieve superior performance while maintaining the flexibility that PHP
 developers are accustomed to.
 .
 For the majority of your programs HHVM should be a drop-in replacement for
 the usual PHP interpreter/engine. To date, HHVM (and its predecessor HPHPc
 before it) has realized over a 9x increase in web request throughput and
 over a 5x reduction in memory consumption for Facebook compared with the
 Zend PHP 5.2 engine + APC.

Package: hhvm-dev
Architecture: amd64
Depends: cmake
Description: HipHop Virtual Machine, a JIT replacement for PHP
 HHVM is a new open-source virtual machine designed for executing programs
 written in PHP. HHVM uses a just-in-time (JIT) compilation approach to
 achieve superior performance while maintaining the flexibility that PHP
 developers are accustomed to.
 .
 For the majority of your programs HHVM should be a drop-in replacement for
 the usual PHP interpreter/engine. To date, HHVM (and its predecessor HPHPc
 before it) has realized over a 9x increase in web request throughput and
 over a 5x reduction in memory consumption for Facebook compared with the
 Zend PHP 5.2 engine + APC.
 .
 This package provides the header & build system files needed for compiling
 HHVM extensions.
