#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export LDFLAGS='-Wl,--as-needed'

%:
	dh $@

override_dh_auto_build:
	# rerun flex/bison to regenerate their output
	./hphp/parser/make-lexer.sh
	./hphp/parser/make-parser.sh
	dh_auto_build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DLIBVPX_INCLUDE_DIRS=/usr/include/vpx/ \
		-DFREETYPE_INCLUDE_DIRS=/usr/include/freetype2/ \
		-DCMAKE_INSTALL_PREFIX=/usr

.PHONY: override_dh_auto_build override_dh_auto_configure
