#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export LDFLAGS='-Wl,--as-needed'


%:
	dh $@ --parallel

override_dh_auto_build:
	# rerun flex/bison to regenerate their output for DFSG reasons
	./hphp/parser/make-lexer.sh
	# Disabled because of https://github.com/facebook/hhvm/issues/2573
	#./hphp/parser/make-parser.sh
	dh_auto_build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DUSE_JSONC=ON \
		-DFREETYPE_INCLUDE_DIRS=/usr/include/freetype2/ \
		-DHOTPROFILER=ON \
		-DCMAKE_INSTALL_PREFIX=/usr

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	hphp/hhvm/hhvm hphp/test/run -m jit quick
	hphp/hhvm/hhvm hphp/test/run -m interp quick
endif

override_dh_strip:
	dh_strip --dbg-package=hhvm-dbg

override_dh_gencontrol:
	hhvmapi=$(shell $(CURDIR)/debian/hhvm/usr/bin/hhvm --version | sed -ne 's/^Extension API:\ //p') && \
		[ -n "$${hhvmapi}" ] && echo "hhvm:ApiVersion=hhvm-api-$${hhvmapi}" >> debian/hhvm.substvars
	dh_gencontrol

.PHONY: override_dh_auto_build override_dh_auto_configure override_dh_auto_test override_dh_strip override_dh_gencontrol
